1. En esta oportunidad vamos a utilizar los datos que ocupamos en el
módulo 1, nuestros datos de compra en supermercado

a. Junto a este archivo, se encuentran los archivos csv para
clientes, productos, boletas y detalle. Cargue, los datos de los
archivos en sus respectivas variables.

In [100]:
import pandas as pd
from datetime import datetime
import numpy as np

archivo_productos = 'productos.csv'
archivo_boletas = 'boletas.csv'
archivo_clientes = 'clientes.csv'
archivo_detalle = 'detalle.csv'

In [101]:
#con read_csv de pandas, leemos los archivos csv que cargamos
df_productos = pd.read_csv(archivo_productos, encoding='unicode_escape')
print(df_productos)

    codigo            nombre  precio
0      101             Arroz    1500
1      102            Fideos    1200
2      103  Aceite de cocina   18000
3      104            Harina    2000
4      105             Leche    3000
5      106            Azúcar    2500
6      107              Café    5000
7      108               Pan    1500
8      109          Galletas    3500
9      110       Mantequilla    2800
10     111             Queso    6000
11     112             Yogur    2000
12     113      Agua mineral    1200
13     114             Jugos    4000
14     115    Frutas frescas    7000
15     116          Verduras    5500
16     117    Carne de pollo    4800
17     118      Carne de res   10000
18     119           Pescado    9000
19     120            Helado    2500

In [102]:
df_boletas = pd.read_csv(archivo_boletas)
print(df_boletas)

    numero       fecha rut_cliente
0        1  2023-11-05  12345678-9
1        2  2023-11-07  87654321-0
2        3  2023-11-09  23456789-1
3        4  2023-11-12  34567890-2
4        5  2023-11-15  45678901-3
5        6  2023-11-18  56789012-4
6        7  2023-11-21  67890123-5
7        8  2023-11-24  78901234-6
8        9  2023-11-27  89012345-7
9       10  2023-11-29  90123456-8
10      11  2023-11-02  11223344-5
11      12  2023-11-04  33445566-7
12      13  2023-11-06  55667788-9
13      14  2023-11-08  77889900-1
14      15  2023-11-11  99001122-3
15      16  2023-11-14  11223344-5
16      17  2023-11-17  33445566-7
17      18  2023-11-20  55667788-9
18      19  2023-11-23  77889900-1
19      20  2023-11-26  99001122-3
20      21  2023-11-02  11223344-5
21      22  2023-11-14  11223344-5
22      23  2023-11-05  12345678-9
23      24  2023-11-09  23456789-1

In [103]:
df_clientes = pd.read_csv(archivo_clientes, encoding='unicode_escape')
#print(df_clientes)
df_clientes_limpio = df_clientes.dropna(how='any', axis=0, subset='fecha_nacimiento', inplace=False) #limpia la columna fecha_nacimiento, sacando los valores nan
print(df_clientes_limpio)

df_clientes_limpio.info() #esto me sirve para obtener los tipos de datos que tiene el df

           rut             nombre                direccion        comuna  \
0   11223344-4      Tomás Ramírez                      NaN         Arica
1   11223344-5        Laura Rojas        Calle Virtual 567   Antofagasta
2   12345678-9         Juan Perez          Calle Falsa 123      Santiago
3   23456789-1    Pedro Rodríguez                      NaN    Valparaíso
4   33445566-5      Camila Torres    Calle Cibernética 456           NaN
5   33445566-7         Mateo Diaz                      NaN  Viña del Mar
6   34567890-2     Carla González      Calle Inventada 789           NaN
8   55667788-6      Matias Castro   Avenida Innovación 321           NaN
9   55667788-9  Valentina Herrera  Avenida Tecnológica 123           NaN
10  56789012-4          Ana Lopez                      NaN           NaN
11  67890123-5    Luisa Fernández       Calle Ficticia 321      Rancagua
12  77889900-1       Martin Gómez                      NaN       Iquique
14  78901234-6      Javier Torres   Avenida de Ensueño 654        Temuco
15  87654321-0      Maria Sánchez   Avenida Imaginaria 456    Concepción
18  99001122-3        Sofía Pérez        Calle Digital 789           NaN
19  99001122-8       Nicolás Ruiz   Calle Programación 210           NaN

   fecha_nacimiento     telefono                  email
0        1994-12-31          NaN      tomas@example.com
1        1998-07-12  945678321.0      laura@example.com
2        2000-05-15  912345678.0       juan@example.com
3        1988-03-10  912345678.0      pedro@example.com
4        1993-02-14  977894512.0     camila@example.com
5        2002-02-28  967894512.0      mateo@example.com
6        1999-12-05  934567890.0      carla@example.com
8        1992-06-08  923478965.0                    NaN
9        1997-04-05  923478965.0  valentina@example.com
10       1990-08-18  978901234.0        ana@example.com
11       2005-04-25          NaN      luisa@example.com
12       1996-10-17  955678902.0     martin@example.com
14       1985-11-30  923456789.0                    NaN
15       1995-10-20  987654321.0      maria@example.com
18       2001-09-22  912345672.0      sofia@example.com
19       2003-11-03  955678902.0    nicolas@example.com
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 19
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rut               16 non-null     object
 1   nombre            16 non-null     object
 2   direccion         11 non-null     object
 3   comuna            9 non-null      object
 4   fecha_nacimiento  16 non-null     object
 5   telefono          14 non-null     float64
 6   email             14 non-null     object
dtypes: float64(1), object(6)
memory usage: 1.0+ KB

In [104]:
df_detalle = pd.read_csv(archivo_detalle)
print(df_detalle)

    numero_boleta  codigo_producto  cantidad
0               1              101         3
1               1              103         6
2               1              106         2
3               2              102         5
4               2              104         1
5               3              107         8
6               3              110         4
7               4              112         7
8               5              113         3
9               6              115         2
10              7              116         5
11              7              119         9
12              8              120         4
13              9              101         6
14              9              104         2
15             10              105         1
16             10              106         3
17             11              107         4
18             11              109         7
19             12              111         5
20             13              112         8
21             14              113         3
22             14              116         1
23             15              117         6
24             16              119         4
25             17              120         2
26             18              101         9
27             18              102         2
28             18              103         5
29             19              104         3
30             19              106         7
31             20              107         1
32             21              120         4
33             21              102         5
34             22              104         1
35             23              101         6
36             23              104         2
37             23              105         1
38             24              116        10
39             24              119        20

b. Ahora que tenemos los datos, podemos trabajar con ellos. Lo
primero que haremos será calcular las edades. Para esto,
agregue una nueva columna a los datos de los clientes, que
calcule la edad a partir de su fecha de nacimiento.

In [105]:
#acá usé df_clientes_limpios ya que no considera a los clientes con fecha_nacimiento nan

#modifica el formato de fecha_ncimiento, que originalmente es una cadena (object), lo pasa a formato fecha para hacer la resta de fechas
df_clientes_limpio['fecha_nacimiento'] = pd.to_datetime(df_clientes_limpio['fecha_nacimiento'])
df_clientes_limpio.info()

fecha_actual = datetime.now() #fecha actual
#calcula la edad, restando fecha_nacimiento con fecha actual  y agrega la columna edad
#astype pasa la edad a formato años (float)
df_clientes_limpio['edad'] = (fecha_actual - df_clientes_limpio['fecha_nacimiento']).astype('<m8[Y]')
print(df_clientes_limpio)
#print(df_clientes_limpio['edad'])
#df_clientes_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 19
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rut               16 non-null     object
 1   nombre            16 non-null     object
 2   direccion         11 non-null     object
 3   comuna            9 non-null      object
 4   fecha_nacimiento  16 non-null     datetime64[ns]
 5   telefono          14 non-null     float64
 6   email             14 non-null     object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 1.0+ KB
           rut             nombre                direccion        comuna  \
0   11223344-4      Tomás Ramírez                      NaN         Arica
1   11223344-5        Laura Rojas        Calle Virtual 567   Antofagasta
2   12345678-9         Juan Perez          Calle Falsa 123      Santiago
3   23456789-1    Pedro Rodríguez                      NaN    Valparaíso
4   33445566-5      Camila Torres    Calle Cibernética 456           NaN
5   33445566-7         Mateo Diaz                      NaN  Viña del Mar
6   34567890-2     Carla González      Calle Inventada 789           NaN
8   55667788-6      Matias Castro   Avenida Innovación 321           NaN
9   55667788-9  Valentina Herrera  Avenida Tecnológica 123           NaN
10  56789012-4          Ana Lopez                      NaN           NaN
11  67890123-5    Luisa Fernández       Calle Ficticia 321      Rancagua
12  77889900-1       Martin Gómez                      NaN       Iquique
14  78901234-6      Javier Torres   Avenida de Ensueño 654        Temuco
15  87654321-0      Maria Sánchez   Avenida Imaginaria 456    Concepción
18  99001122-3        Sofía Pérez        Calle Digital 789           NaN
19  99001122-8       Nicolás Ruiz   Calle Programación 210           NaN

   fecha_nacimiento     telefono                  email  edad
0        1994-12-31          NaN      tomas@example.com  29.0
1        1998-07-12  945678321.0      laura@example.com  25.0
2        2000-05-15  912345678.0       juan@example.com  23.0
3        1988-03-10  912345678.0      pedro@example.com  36.0
4        1993-02-14  977894512.0     camila@example.com  31.0
5        2002-02-28  967894512.0      mateo@example.com  22.0
6        1999-12-05  934567890.0      carla@example.com  24.0
8        1992-06-08  923478965.0                    NaN  31.0
9        1997-04-05  923478965.0  valentina@example.com  26.0
10       1990-08-18  978901234.0        ana@example.com  33.0
11       2005-04-25          NaN      luisa@example.com  18.0
12       1996-10-17  955678902.0     martin@example.com  27.0
14       1985-11-30  923456789.0                    NaN  38.0
15       1995-10-20  987654321.0      maria@example.com  28.0
18       2001-09-22  912345672.0      sofia@example.com  22.0
19       2003-11-03  955678902.0    nicolas@example.com  20.0

<ipython-input-105-c65e1db2a5e9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clientes_limpio['fecha_nacimiento'] = pd.to_datetime(df_clientes_limpio['fecha_nacimiento'])
<ipython-input-105-c65e1db2a5e9>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clientes_limpio['edad'] = (fecha_actual - df_clientes_limpio['fecha_nacimiento']).astype('<m8[Y]')

c. Calcular el promedio de edad.

In [106]:
promedio_edad = df_clientes_limpio['edad'].mean() #mean calcula el promedio de la columna edad y guarda el resultado en la variable promedio_edad
print("El promedio de edad es:", promedio_edad)

El promedio de edad es: 27.0625

d. ¿Cuál es el cliente con la edad mayor?

In [107]:
mayor_edad = df_clientes_limpio['edad'].max() #método max obtiene el valor mayor de la columna edad
print(f"La mayor edad es: {mayor_edad}")

cliente_mayor_edad = df_clientes_limpio[df_clientes_limpio['edad'] == mayor_edad] #trae la fila con todos los datos del cliente que tiene la mayor edad
print(f"El cliente con la mayor edad es: {cliente_mayor_edad}")

La mayor edad es: 38.0
El cliente con la mayor edad es:            rut         nombre               direccion  comuna  \
14  78901234-6  Javier Torres  Avenida de Ensueño 654  Temuco

   fecha_nacimiento     telefono email  edad
14       1985-11-30  923456789.0   NaN  38.0

e. ¿Cuál es el menor?

In [108]:
menor_edad = df_clientes_limpio['edad'].min() #método min obtiene el valor menor de la columna edad
print(f"La menor edad es: {menor_edad}")

cliente_menor_edad = df_clientes_limpio[df_clientes_limpio['edad'] == menor_edad] #trae la fila con todos los datos del cliente que tiene la mayor edad
#print(f"El cliente con la menor edad es: {cliente_menor_edad}")
print("Los datos del cliente con menor edad:")
print(cliente_menor_edad)

La menor edad es: 18.0
Los datos del cliente con menor edad:
           rut           nombre           direccion    comuna  \
11  67890123-5  Luisa Fernández  Calle Ficticia 321  Rancagua

   fecha_nacimiento  telefono              email  edad
11       2005-04-25       NaN  luisa@example.com  18.0

f. Buscar cuantas boletas tiene cada cliente, fusionar clientes con
boletas a través del rut.

In [109]:
#acá usé df_clientes ya que considera todos los rut de los clientes
merge_dfs = pd.merge(df_clientes, df_boletas, left_on='rut', right_on='rut_cliente', how='inner')#unión de los dataframe por columnas rut y rut_cliente
boletas_por_cliente = merge_dfs['rut'].value_counts()#value_counts cuenta la cantidad de boletas que hay por cliente según su rut
print("Rut y cantidad de boletas")
print(boletas_por_cliente)
#print(f"Cada cliente tiene: {boletas_por_cliente} boletas")

Rut y cantidad de boletas
11223344-5    4
12345678-9    2
23456789-1    2
33445566-7    2
55667788-9    2
77889900-1    2
99001122-3    2
34567890-2    1
45678901-3    1
56789012-4    1
67890123-5    1
78901234-6    1
87654321-0    1
89012345-7    1
90123456-8    1
Name: rut, dtype: int64

g. Ahora, queremos hacer algo parecido con los productos.
Calcular cuánto se ha vendido (en dinero) de cada producto.

In [110]:
#unión de los dataframe por columnas codigo y codigo_producto, how='inner' considera solo los productos que han tenido ventas
merge_pructo_detalle = pd.merge(df_productos, df_detalle, left_on='codigo', right_on='codigo_producto', how='inner')
#print(merge_pructo_detalle)
#se crea la columna precio_total que alojará el resultado de la multiplicación entre las columnas precio y cantidad de los productos
merge_pructo_detalle['precio_total'] = merge_pructo_detalle['precio']*merge_pructo_detalle['cantidad']
#print(merge_pructo_detalle['precio_total'])

#agrupo por nombre del producto y sum suma los montos de cada precio_total por producto por boleta
ventas_por_productos = merge_pructo_detalle.groupby('nombre')['precio_total'].sum()
print("Monto vendido en cada producto")
print(ventas_por_productos)

Monto vendido en cada producto
nombre
Aceite de cocina    198000
Agua mineral          7200
Arroz                36000
Azúcar               30000
Café                 65000
Carne de pollo       28800
Fideos               14400
Frutas frescas       14000
Galletas             24500
Harina               18000
Helado               25000
Leche                 6000
Mantequilla          11200
Pescado             297000
Queso                30000
Verduras             88000
Yogur                30000
Name: precio_total, dtype: int64

h. Agregar los productos que nunca se han vendido con un 0.

In [111]:
#Hago el merge de las tablas y con how='outer' incluyo aquellos productos que no han tenido ventas, pero los llena con NaN
merge_pructo_detalle_ceros = pd.merge(df_productos, df_detalle, left_on='codigo', right_on='codigo_producto', how='outer')
#print(merge_pructo_detalle_ceros)

#con fillna(0) reemplazo los NaN con ceros en la tabla resultante de la unión (pan, jugos y carne res)
merge_pructo_detalle_ceros = merge_pructo_detalle_ceros.fillna(0)
print(merge_pructo_detalle_ceros)

    codigo            nombre  precio  numero_boleta  codigo_producto  cantidad
0      101             Arroz    1500            1.0            101.0       3.0
1      101             Arroz    1500            9.0            101.0       6.0
2      101             Arroz    1500           18.0            101.0       9.0
3      101             Arroz    1500           23.0            101.0       6.0
4      102            Fideos    1200            2.0            102.0       5.0
5      102            Fideos    1200           18.0            102.0       2.0
6      102            Fideos    1200           21.0            102.0       5.0
7      103  Aceite de cocina   18000            1.0            103.0       6.0
8      103  Aceite de cocina   18000           18.0            103.0       5.0
9      104            Harina    2000            2.0            104.0       1.0
10     104            Harina    2000            9.0            104.0       2.0
11     104            Harina    2000           19.0            104.0       3.0
12     104            Harina    2000           22.0            104.0       1.0
13     104            Harina    2000           23.0            104.0       2.0
14     105             Leche    3000           10.0            105.0       1.0
15     105             Leche    3000           23.0            105.0       1.0
16     106            Azúcar    2500            1.0            106.0       2.0
17     106            Azúcar    2500           10.0            106.0       3.0
18     106            Azúcar    2500           19.0            106.0       7.0
19     107              Café    5000            3.0            107.0       8.0
20     107              Café    5000           11.0            107.0       4.0
21     107              Café    5000           20.0            107.0       1.0
22     108               Pan    1500            0.0              0.0       0.0
23     109          Galletas    3500           11.0            109.0       7.0
24     110       Mantequilla    2800            3.0            110.0       4.0
25     111             Queso    6000           12.0            111.0       5.0
26     112             Yogur    2000            4.0            112.0       7.0
27     112             Yogur    2000           13.0            112.0       8.0
28     113      Agua mineral    1200            5.0            113.0       3.0
29     113      Agua mineral    1200           14.0            113.0       3.0
30     114             Jugos    4000            0.0              0.0       0.0
31     115    Frutas frescas    7000            6.0            115.0       2.0
32     116          Verduras    5500            7.0            116.0       5.0
33     116          Verduras    5500           14.0            116.0       1.0
34     116          Verduras    5500           24.0            116.0      10.0
35     117    Carne de pollo    4800           15.0            117.0       6.0
36     118      Carne de res   10000            0.0              0.0       0.0
37     119           Pescado    9000            7.0            119.0       9.0
38     119           Pescado    9000           16.0            119.0       4.0
39     119           Pescado    9000           24.0            119.0      20.0
40     120            Helado    2500            8.0            120.0       4.0
41     120            Helado    2500           17.0            120.0       2.0
42     120            Helado    2500           21.0            120.0       4.0